
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/p5.js"></script>

<script>
    var sentiment = JSON.parse('{{ sentiment | tojson | safe}}');
    // document.getElementById('mag').innerHTML = sentiment.mag;
    // document.getElementById('score').innerHTML = sentiment.score;
    var system;
    var magnitude;

    if (sentiment.mag < 2) {
      // teal is meditative, low magnitude
      magnitude = 180
    } else {
      // purple is engaged, higher magnitude
      magnitude = 300
    }


    // score range:-1 to 1, changes the size
    var score;
    // negative sentiment, small
    if (sentiment.score < 0) {
      score = 10
    } else {
      // positive sentiment, big
      score = 20
    }


    var n = 100 + 50*(score+1);
    var t,dt;
    var myscale;
    var keyHue = 0.0;

    var saveStill = false;
    function setup() {
      var side = windowWidth< windowHeight ? windowWidth : windowHeight ;
      createCanvas(side,side);
      background(255);
      colorMode(HSB,360,1.0,1.0);
      background(0,0,1.0);

      // controls how big the image is
      var foo = 15 + 10*((score + 1)/2);
      myscale = score;
      t = 0.0;
      dt = 0.02;
    }

    function draw() {
      t += dt;
      for(var i=0;i<n;i++){
        var theta = 2.39996*i;
          var r = myscale*sqrt(i);
        noStroke();
        var s = i/float(n);
        fill(magnitude, 1.0-2.0*s, 0.5 + s);

        var d = myscale*(5 + 0.5*sin(t + r));
        if(saveStill){
            d = myscale*5;
        }

        ellipse(0.5*width + r*sin(theta),0.5*height + r*cos(theta), d, d);
      }

      if(saveStill){
        saveCanvas('vogelTunnel', 'png');
        noLoop();
      }
    }

</script>

<style type="text/css">
  .sentiment-info {
    margin-top: 100px;
  }
</style>
